{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
				initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="{%static 'css/dashboard_main.css' %}">
    <link rel="stylesheet" href="{%static 'css/dashboard_res.css' %}">
    <link rel="stylesheet" href="{%static 'css/create_project.css' %}">
</head>

<body>

	<!-- for header part -->
	{% include '../header_page.html' %}

    <div class="main-container">
      <div class="navcontainer">
        {% include './manager_navbar.html' %}
      </div>

    <script src="{%static 'js/dashboard.js' %}"></script>
</body>

</html>