{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
				initial-scale=1.0">
    <title>Edit Task</title>
    <link rel="stylesheet" href="{%static 'css/dashboard_main.css' %}">
    <link rel="stylesheet" href="{%static 'css/dashboard_res.css' %}">
    <link rel="stylesheet" href="{%static 'css/create_project.css' %}">
</head>

<body>

	<!-- for header part -->
	{% include '../header_page.html' %}

    <div class="main-container">
      <div class="navcontainer">
        {% include './manager_navbar.html' %}
      </div>
      <div class="main">
        <div class="project-container"> 
            <div class="project-header">
                <h1 class="recent-Articles">Edit Task</h1>
            </div>
            <div class="project-body">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="field">
                        <label for="title"> Task Name : </label>
                        <input type="text" name="task-title" id="title" value="{{ task_instance.taskTitle }}" placeholder="Enter Task Title" required>
                    </div>

                    <div class="field">
                        <label for="employee"> Select Employee :</label>
                        <select name="employee" id="employee" required>
                            <option value="" disabled>Select Manager</option>
                            {% for employee in employees %}
                                <option value="{{ employee.first_name }} - {{ employee.email }}" {% if task.employeeEmail == employee.email %} selected {% endif %}>
                                    {{ employee.first_name }} - {{ employee.email }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="field">
                        <label for="deadline"> Select Deadline :</label>
                        <input type="datetime-local" id="deadline" name="deadline" min="{{ task_instance.deadline|date:'Y-m-d\TH:i' }}" value="{{ task_instance.deadline|date:'Y-m-d\TH:i' }}" required>
                    </div>

                    <div class="field">
                        <label for="description"> Description :</label>
                        <input type="text" name="description" id="description" value="{{ task_instance.description }}">
                    </div>

                    <div class="field">
                        <label for="taskstatus">Task Status :</label>
                        <select name="taskstatus" id="taskstatus" required>
                            <option value="I" {% if task_instance.status == 'I' %}selected{% endif %}>In Progress</option>
                            <option value="C" {% if task_instance.status == 'C' %}selected{% endif %}>Completed</option>
                            <option value="R" {% if task_instance.status == 'R' %}selected{% endif %}>Submitted for Review</option>
                        </select>
                    </div>

                    <div class="field">
                        <button type="submit" id="submit">Update Task</button>
                    </div>
                </form>
            </div>

    <script src="{%static 'js/dashboard.js' %}"></script>
</body>

</html>