{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, 
				initial-scale=1.0">
	<title>Profile</title>
	<link rel="stylesheet" href="{% static 'css/profile_pages.css' %}">
	<link rel="stylesheet" href="{% static 'css/profile_page_responsive.css' %}">
</head>

<body>

	<!-- for header part -->
	{% include '../header_page.html' %}

	<div class="main-container">
		<div class="navcontainer">
			{% include './manager_navbar.html' %}
        </div>
		
		<div class="main">
			<div class="container">
				<div class="header">
					<h1>My Profile</h1>
				</div>
				<div class="profile-container">
					<div class="field">
						<label for="fullname">Full Name : </label>
						<input type="text" name="name" id="fullname" value={{ user.first_name }} readonly>
					</div>

					<div class="field">
						<label for="email">Email : </label>
						<input type="email" name="email" id="email" value={{ user.email }} readonly>
					</div>

					<div class="field">
						<label for="contact">Contact No. : </label>
						<input type="text" name="contact" id="contact" value={{ user.contact }} readonly>
					</div>
					
					<div class="field">
						<label for="role">Role : </label>
						<input type="text" name="role" id="role" value={{ user.user_type }} readonly>
					</div>

					<div class="field">
						<label for="company">Company Name : </label>
						<input type="text" name="company" id="company" value={{ company_name }} readonly>
					</div>

					<div class="buttons">
						<div class="change-pass">
							<a id="change_pass_button" href="{% url 'edit_profile_page'%}">Edit Profile</a>
						</div>

						<div class="change-pass">
							<a id="change_pass_button" href="{% url 'password_change'%}">Change Password</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>

</html>