{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
				initial-scale=1.0">
    <title>dashboard</title>
    <!-- <link rel="stylesheet" href="{%static 'css/dashboard_main.css' %}">
    <link rel="stylesheet" href="{%static 'css/dashboard_res.css' %}">
    <link rel="stylesheet" href="{%static 'css/create_project.css' %}"> -->
    <link rel="stylesheet" href="{%static 'css/manager_view_project_ress.css' %}">
    <link rel="stylesheet" href="{%static 'css/manager_view_details.css' %}">
</head>

<body>

	<!-- for header part -->
	{% include '../header_page.html' %}

    <div class="main-container">
      <div class="navcontainer">
        {% include './manager_navbar.html' %}
          </div>
          
    <div class="main">
      <div class="confirmation">
         <p>Please Press Accept or Decline!</p>
         <div class="confirmation-btn">
           <button class="confirmation-btn1">Accept</button>
           <button class="confirmation-btn2">Decline</button>
          </div>
      </div> 
      <div class="project-container">
          <div class="taskdata">
              <span class="tasktitle">Task Name: </span><span class="tasktitle1">{{ task_instance.taskTitle }}</span>
          </div>
          <div class="taskdata">
            <span class="tasktitle">Status: </span>
            <span class="tasktitle1 statuscheck">
                {% if task_instance.status == 'I' %}
                    In Progress
                {% elif task_instance.status == 'C' %}
                    Completed
                {% elif task_instance.status == 'R' %}
                    Submitted for Review 
                {% endif %}
            </span>
          </div>
          <div class="taskdata statusbutton">
              <button>Accept</button>
              <button>Decline</button>
          </div>
          <div class="taskdata">
              <span class="tasktitle">Employee Name: </span><span>{{ task_instance.employeeName }}</span>
          </div>
          <div class="taskdata">
              <span class="tasktitle">Email ID: </span><span>{{task_instance.employeeEmail }}</span>
          </div>
          <div class="taskdata">
              <span class="tasktitle">Deadline: </span><span>{{ task_instance.deadline }}</span>
          </div>
          <div class="taskdata">
            <span class="tasktitle">Submission Date: </span><span class="tasktitle1 submission-date"></span>
          </div>
          <div class="taskdata">
              <span class="tasktitle">Description: </span><span class="desc">{{ task_instance.description }} </span>
          </div>
    </div>
    <div class="editdeletebtn">
      <a href="{% url 'edit-tasks' project_id=project_instance.projectID task_id=task_instance.taskID %}"> <button class="details-btn btns">Edit Task</button></a>
      <button class="details-btn btns" id="deletebtn" onclick="deleteRow(this)" data-task-id="{{ task_instance.taskID }}" data-project-id="{{ project_instance.projectID }}">Delete Task</button>
    </div>
    
      <script src="{%static 'js/manager_view_projects.js' %}"></script>
</body>

</html>