{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible"
        content="IE=edge">
  <meta name="viewport"
        content="width=device-width,
				initial-scale=1.0">
  <title>My Projects</title>
  <link rel="stylesheet"
        href="{% static 'css/my_project_main.css' %}">
  <link rel="stylesheet"
        href="{%static 'css/my_project_res.css' %}">
</head>

<body>

	<!-- for header part -->
	{% include '../header_page.html' %}

<div class="main-container">
  <div class="navcontainer">
    {% include './manager_navbar.html' %}
      </div>
      
  <div class="main">

    <!-- <div class="searchbar2">
        <input type="text"
            name=""
            id=""
            placeholder="Search">
        <div class="searchbtn">
        <img src="https://tse3.mm.bing.net/th?id=OIP.qj2wH0lhKIfZH159GxkpNgHaHa&pid=Api&P=0&h=180"
                class="icn srchicn"
                alt="search-button">
        </div>
    </div> -->



    <div class="project-container">
      <div class="project-header">
        <h1 class="project-header-text">My Projects</h1>
        <select id="select1" onchange="getOption()">
          <option value="Show all" selected>Show all</option>
          <option value="P">Pending</option>
          <option value="C">Completed</option>
        </select>
        <!-- <a href=""><button class="project-header-btn">View Progress</button></a> -->
      </div>

      <div class="project-body">
        <table class="main-table">
          <thead>
            <th>Projects</th>
            <th>Status</th>
            <th>View Project</th>
          </thead>
          <tbody>
            {% for project in projects %}
            <tr class="table-row">
                <td class="table-data">{{ project.projectTitle }}</td>
                <td class="table-data">
                    <h3 class="label-tag">
                        {% if project.status == 'O' %}
                            Pending
                        {% elif project.status == 'C' %}
                            Completed
                        {% else %}
                            Unknown
                        {% endif %}
                    </h3>
                </td>
                <td class="table-data">
                    <a href="{% url 'view-tasks' project_id=project.projectID  %}">
                        <button class="button-tag btns">View</button>
                    </a>
                </td>
            </tr>
        {% empty %}
            <tr class="table-row">
                <td class="table-data" colspan="4">No projects to show</td>
            </tr>
        {% endfor %}

          </tbody>
        </table>
      </div>

    </div>
  </div>

  <script src="{%static 'js/MyProject.js' %}"></script>
</body>
</html>