{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,
				initial-scale=1.0">
    <title>dashboard</title>
    <!-- <link rel="stylesheet" href="{%static 'css/dashboard_main.css' %}">
    <link rel="stylesheet" href="{%static 'css/dashboard_res.css' %}">
    <link rel="stylesheet" href="{%static 'css/create_project.css' %}"> -->
    <link rel="stylesheet"
          href="{%static 'css/admin_view_projects.css' %}">
    <link rel="stylesheet"
          href="{%static 'css/admin_view_project_res.css' %}">
</head>
<body>
    
	<!-- for header part -->
	{% include '../header_page.html' %}

<div class="main-container">
  <div class="navcontainer">
    {% include './owner_navbar.html' %}
  </div>
  
    <div class="main">

        <div class="project-container">
            <div class="project-header">
                <div class="status-container">
                    <h1 class="project-header-text">{{ project_instance.projectTitle }} </h1>
                    <select id="select1" onchange="getOption()">
                        <option value="Show all" selected>Show all</option>
                        <option value="I">In Progress </option>
                        <option value="C">Completed</option>
                        <option value="R">Submitted for review</option>
                    </select>
                </div>
                <div class="progress-create-btn">
                    <a href="{%url 'view-progress' project_id=project_instance.projectID %}">
                        <button style="margin:5px;" class="progress-header-btn btns">View project progress</button>
                    </a>

                    <a href="{% url 'project-details' project_id=project_instance.projectID %}">
                        <button style="margin:5px;" class="project-header-btn btns">View project details</button>
                    </a>
                    <!-- <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for Status.." title="Type in a name"> -->
                </div>
            </div>
        <div class="project-body">
            {% if task_instance %}
                <table class="main-table" id="maintable">
                    <thead>
                        <th>Tasks</th>
                        <th>Status</th>
                        <th>Assigned employees</th>
                        <th>Deadline</th>
                        <th>Completed</th>
                    </thead>
                    <tbody>
                        {% for task in task_instance %}
                            <tr class="table-row">
                                <td class="table-data">{{ task.taskTitle }}</td>
                                <td class="table-data">
                                  <h3 class="label-tag">
                                      {% if task.status == 'I' %}
                                          In Progress
                                      {% elif task.status == 'C' %}
                                          Completed
                                      {% elif task.status == 'R' %}
                                          Submitted for Review
                                      {% else %}
                                          Unknown
                                      {% endif %}
                                  </h3>
                              </td>
                                <td class="table-data">{{ task.employeeName }} - {{task.employeeEmail}}</td>
                                <td class="table-data">{{ task.deadline }}</td>
                                <td class="table-data">
                                        {% if task.status == 'C' %}
                                            {{task.completed}}
                                          {%if task.late%}
                                            (Late)
                                            {% endif %}  
                                        {% else %}
                                            Not Completed
                                        {% endif %}
                                </td>
                                
                            </tr>
                        {% endfor %}
                    
                    {% else %}
                        <p>No tasks to show.</p>
                    {% endif %}
          </tbody>
        </table>
        </div>
        
        </div>
        <script src="{%static 'js/admin_viewproject.js' %}"></script>
</body>
</html>