{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, 
         initial-scale=1.0">
    <title>dashboard</title>
    <link rel="stylesheet" href="{%static 'css/dashboard_main.css' %}">
    <link rel="stylesheet" href="{%static 'css/dashboard_res.css' %}">
    <link rel="stylesheet" href="{%static 'css/admin_manage_employee.css' %}">
</head>

<body>

	<!-- for header part -->
	{% include '../header_page.html' %}

	<div class="main-container">
        <div class="navcontainer">
            {% include './owner_navbar.html' %}
        </div>
        
        <div class="main">

            <div class="project-container">
                <div class="project-header">
                    <h1 class="project-header-text">Manage Managers</h1>
                </div>

                <div class="project-body">
                    <table class="main-table" id="managersTable">
                        <thead>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Delete</th>
                        </thead>
            
                        <tbody>
                            {% for manager in manager_instance %}
                                <tr class="table-row">
                                    <td class="table-data">{{ manager.first_name }}</td>
                                    <td class="table-data">
                                        <h3>{{ manager.email }}</h3>
                                    </td>
                                    <td class="table-data"><button
                                        class="button-tag btns" data-email= "{{ manager.email }}">Delete</button>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="project-container">
                <div class="project-header">
                    <h1 class="project-header-text">Manage Employees</h1>
                </div>
        
                <div class="project-body">
                    <table class="main-table" id="employeesTable">
                        <thead>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Delete</th>
                        </thead>
            
                        <tbody>
                            {% for employee in employee_instance %}
                                <tr class="table-row">
                                    <td class="table-data">{{ employee.first_name }}</td>
                                    <td class="table-data">
                                        <h3>{{ employee.email }}</h3>
                                    </td>
                                    <td class="table-data"><button onclick="deleteRow(this)"
                                        class="button-tag btns" data-email="{{employee.email}}">Delete</button></td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

<script src="{%static 'js/owner_manage_employee.js' %}"></script>
</body>

</html>