/* Responsive CSS Here */


@media screen and (max-width: 850px)
{
    .nav-img {
        height: 30px;
    }
    .nav-option {
        gap: 30px;
    }
    .nav-option h3 {
        font-size: 20px;
    }

    .navcontainer {
        width: 100vw;
        position: absolute;
        transition: all 0.6s ease-in-out;
        top: 0;
        left: -100vw;
    }
    .nav {
        width: 100%;
        position: absolute;
    }
    .navclose {
        left: 00px;
    }

    .main
    {
        padding: 40px 30px 30px 30px;
    }


    .main-table{
        width: 700px;
    }

}


@media screen and (max-width: 490px)
{
    .message {
        display: none;
    }
    .logosec {
        width: 100%;
        justify-content: space-between;
    }
    .logo {
        font-size: 20px;
    }
    .menuicn {
        height: 25px;
    }
    .nav-img {
        height: 25px;
    }
    .nav-option {
        gap: 25px;
    }
    .nav-option h3 {
        font-size: 12px;
    }
    .nav-upper-options {
        gap: 15px;
    }

    .project-header-btn {
        width: auto;
        font-size: 12px;
        height: 35px;
    }

    .main-table{
        width: 550px;
    }
}

@media screen and (max-width: 400px)
{
    .project-header {
        height: auto;
        padding: 10px 5px 5px 5px;
    }
    .project-header-text {
        font-size: 18px;
    }

    .project-header-btn {
        width: auto;
        font-size: 10px;
        height: 27px;
    }
}

@media screen and (max-width: 320px) {

    .project-header-btn {
        width: auto;
        font-size: 8px;
        height: 27px;
    }
    .project-header {
        height: auto;
        padding: 10px 5px 5px 5px;
    }
    .project-header-text {
        font-size: 20px;
    }

    .project-body {
        padding: 10px;
    }
    .label-tag {
        width: 70px;
    }
}