
:root{
    --background-color1: #00303f;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #92bac6;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --Border-color: #00303f;
    --one-use-color: #00303f;
    --two-use-color: #00303f;
    }

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.password-wrapper{
    width: 50%;
    height: auto;
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-header{
    background-color: var(--background-color1);
    color: white;
    width: 100%;
    border-radius: 15px 15px 0 0;
    text-align: center;
    line-height: 70px;
}

.password-header h1{
    font-weight: 500;
}

.password-container{
    width: 90%;
    display: flex;
    height: auto;
    flex-direction: column;
    align-items: center;
}

.field{
    width: 100%;
    margin: 10px 0;
}

#currpass,#newpass1,#newpass2,.submit{
    margin-top: 5px;
    width: 100%;
    height: 35px;
    border-radius: 20px;
    border: 1px solid var(--background-color1);
    padding-left: 15px;
}

.submit{
    color: white;
    background-color: var(--background-color1);
    margin: 20px 0 10px 0;
    transition: all 0.4s;
    font-size: 17px;
    font-weight: 600;
    padding-left: 0;
}

.submit:hover{
    transform: scale(1.1);
}

@media screen and (min-width:750px) and (max-width:1000px){
    
    .password-wrapper
    {
        width: 70%;
    }
}

@media screen and (min-width:550px) and (max-width:750px){
    
    .password-wrapper
    {
        width: 90%;
    }
}

@media screen and (max-width:550px){
    
    .password-wrapper
    {
        width: 100%;
    }

    .password-header
    {
        font-size: 17px;
    }

    .field label
    {
        padding-left: 12px;
    }
}