/* Main CSS Here */

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {
    --background-color1: #00303f;
    --background-color2: #ffffff;
    --background-color3: #ededed;
    --background-color4: #92bac6;
    --primary-color: #4b49ac;
    --secondary-color: #0c007d;
    --Border-color: #00303f;
    --one-use-color: #00303f;
    --two-use-color: #00303f;
}

/* :root {
--background-color1: #fafaff;
--background-color2: #ffffff;
--background-color3: #ededed;
--background-color4: #cad7fda4;
--primary-color: #4b49ac;
--secondary-color: #0c007d;
--Border-color: #3f0097;
--one-use-color: #3f0097;
--two-use-color: #5500cb;
} */

body {
    background-color: var(--background-color4);
    max-width: 100%;
    overflow-x: hidden;
}

header {
    height: 70px;
    width: 100vw;
    padding: 0 30px;
    background-color: var(--background-color1);
    position: fixed;
    z-index: 100;
    box-shadow: 1px 1px 15px rgba(161, 182, 253, 0.825);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 27px;
    font-weight: 600;
    color: #ffffff;
}

.icn {
    height: 30px;
}

.menuicn {
    cursor: pointer;
}

.searchbar,
.message,
.logosec {
    display: flex;
    align-items: center;
    justify-content: center;
}

.searchbar2 {
    display: none;
}

.logosec {
    gap: 60px;
}

.searchbar input {
    width: 250px;
    height: 42px;
    border-radius: 50px 0 0 50px;
    background-color: var(--background-color3);
    padding: 0 20px;
    font-size: 15px;
    outline: none;
    border: none;
}

.searchbtn {
    width: 50px;
    height: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0px 50px 50px 0px;
    background-color: var(--background-color3);
    cursor: pointer;
}

.message {
    gap: 40px;
    position: relative;
    cursor: pointer;
}

.circle {
    height: 7px;
    width: 7px;
    position: absolute;
    background-color: #fa7bb4;
    border-radius: 50%;
    left: 19px;
    top: 8px;
}

.dp {
    height: 40px;
    width: 40px;
    background-color: #626262;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-container {
    display: flex;
    width: 100vw;
    position: relative;
    top: 70px;
    z-index: 1;
}

.dpicn {
    height: 40px;
    width: 40px;
}

.main {
    height: calc(100vh - 70px);
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    padding: 40px 30px 30px 30px;
}

.main::-webkit-scrollbar-thumb {
    background-image:
        linear-gradient(to bottom, rgb(0, 0, 85), rgb(0, 0, 50));
}

.main::-webkit-scrollbar {
    width: 5px;
}

.main::-webkit-scrollbar-track {
    background-color: #9e9e9eb2;
}

.box-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.nav {
    min-height: 91vh;
    width: 250px;
    background-color: var(--background-color2);
    position: absolute;
    top: 0px;
    left: 00;
    box-shadow: 1px 1px 10px rgba(198, 189, 248, 0.825);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    padding: 30px 0 20px 10px;
}

.navcontainer {
    height: calc(100vh - 70px);
    width: 250px;
    position: relative;
    overflow-y: scroll;
    overflow-x: hidden;
    transition: all 0.5s ease-in-out;
}

.navcontainer::-webkit-scrollbar {
    display: none;
}

.navclose {
    width: 80px;
}

.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
}

.nav-option:hover {
    border-left: 5px solid #a2a2a2;
    background-color: #dadada;
    cursor: pointer;
}

.nav-img {
    height: 30px;

}

.nav-upper-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.option5 {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
}

.option5:hover {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
}

.nav a:link,
a:visited {
    text-decoration: none;
}

.nav a {
    color: inherit;
}

.box {
    height: 130px;
    width: 230px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 30, 87, 0.751);
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.box:hover {
    transform: scale(1.08);
}

.box:nth-child(1) {
    background-color: var(--one-use-color);
}

.box:nth-child(2) {
    background-color: var(--two-use-color);
}

.box:nth-child(3) {
    background-color: var(--one-use-color);
}

.box:nth-child(4) {
    background-color: var(--two-use-color);
}

.box img {
    height: 50px;
}

.box .text {
    color: white;
}

.topic {
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 1px;
}

.topic-heading {
    font-size: 30px;
    letter-spacing: 3px;
}



.project-container {
    min-height: 100px;
    max-width: 1200px;
    margin: 70px auto 0px auto;
    background-color: #ffffff;
    border-radius: 30px;
    box-shadow: 3px 3px 10px rgb(188, 188, 188);
    padding: 0px 20px 20px 20px;
}

.project-header {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid #00303f;
    flex-wrap: wrap;
}

.project-header-text {
    font-size: 30px;
    font-weight: 600;
    color: #00303f;
}

.project-header-btn {
    height: 35px;
    width: auto;
    padding: 0px 5px;
    border-radius: 8px;
    background-color: #5500cb;
    color: white;
    font-size: 15px;
    border: none;
    cursor: pointer;
}

.project-header a:link,
a:visited {
    text-decoration: none;
}

.project-header a {
    color: inherit;
}

.project-body {
    max-width: 1160px;
    overflow-x: auto;
    padding: 20px;
}

.main-table {
    width: 100%;
}

.main-table thead {
    height: 50px;
    font-size: 18px;
}

.table-row {
    height: 40px;
}

.table-data {
    text-align: center;
    width: 33%;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
}

.label-tag {
    width: 100px;
    display: inline-block;
    text-align: center;
    background-color: rgb(0, 177, 0);
    color: white;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
}

.button-tag {
    width: 100px;
    text-align: center;
    background-color: #0c007d;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.btns {
    transition: all 0.4s;
}

.btns:hover {
    transform: scale(1.1);
}

.button-tag {
    width: 100px;
    text-align: center;
    background-color: #0c007d;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    letter-spacing: 0px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.table-data a:link,
a:visited {
    text-decoration: none;
}

.table-data a {
    color: inherit;
}


@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* Styling the main container */
.container {

    margin: auto;
    margin-top: 1rem;
    letter-spacing: 0.5px;
    height: 80%;

}



/* Styling the msg-header container */
.msg-header {
    border: 1px solid white;
    width: 100%;
    height: 40px;
    border-bottom: none;
    display: inline-block;
    background-color: white;
    margin: 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Styling the profile picture */
.msgimg {
    margin-left: 2%;
    float: left;
}

.container1 {
    width: 270px;
    height: auto;
    float: left;
    margin: 0;
}

/* styling user-name */
.active {
    width: 150px;
    float: left;
    color: black;
    font-weight: bold;
    margin: 0 0 0 5px;
    height: 10%;

}

/* Styling the inbox */
.chat-page {
    padding: 0 0 50px 0;
    width: 67%;
    margin-left: 7%;
    margin-top: 2%;
}

.msg-inbox {
    border: 2px solid white;
    overflow: hidden;
    border-radius: 22px;
    border-radius: 22px;
    width: 100%;
}


.chats {
    padding: 3px 3px 3px 3px;
}

.msg-page {
    max-height: 305px;
    overflow-y: auto;

}

/* Styling the msg-bottom container */
/*.msg-bottom {
    border-top: 2px solid white;
    position: relative;
    height: 4%;
    width: 100%;
    background-color: white;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}*/

/* Styling the input field */
.input-group {
    height: 40px;
    float: right;
    margin-top: 0px;
    margin-right: 0px;
    margin-left: 0px;
    outline: none !important;
    border-bottom-left-radius: 23px;
    border-bottom-right-radius: 19px;
    width: 100% !important;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
}

.input-group>.form-control {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}

.form-control {
    width: 100%;
    border: none !important;
    border-radius: 20px !important;
    display: block;
    height: calc(2.5rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 2;
    color: #495057;
    background-color: white;
    background-clip: padding-box;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.input-group-text {
    background: transparent !important;
    border: none !important;
    display: flex;
    align-items: center;
    padding: 0.375rem 0.75rem;
    margin-bottom: 0;
    font-size: 1.75rem;
    font-weight: b;
    line-height: 1.5;
    color: #00303f;
    text-align: center;
    white-space: nowrap;
    background-color: #e9ecef;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    font-weight: bold !important;
    cursor: pointer;
}

input:focus {
    outline: none;
    border: none !important;
    box-shadow: none !important;
}

.send-icon {
    font-weight: bold !important;
}

/* Styling the avatar  */


.received-msg {
    display: inline-block;
    padding: 0 0 0 10px;
    vertical-align: top;
    width: 92%;
}

.received-msg-inbox {
    width: 57%;
}

.received-msg-inbox p {
    background: #efefef none repeat scroll 0 0;
    border-radius: 10px;
    color: #00303f;
    font-size: 14px;
    margin-left: 1rem;
    padding: 1rem;
    width: 100%;
    box-shadow: rgb(0 0 0 / 25%) 0px 5px 5px 2px;
}

.active p {
    overflow-wrap: break-word;
    margin-left: 250%;
    margin-top: 7%;
    color: #00303f;
    font-size: 18px;
    width: 90%;

}

/* Styling the msg-sent time  */
.time {
    color: #00303f;
    display: block;
    font-size: 12px;
    margin: 8px 0 0;
}

.outgoing-chats {
    overflow: hidden;
    margin: 26px 20px;
}

.outgoing-chats-msg p {
    background-color: #00303f;
    background-image: #00303f;
    color: #fff;
    border-radius: 10px;
    font-size: 14px;
    color: #fff;
    padding: 5px 10px 5px 12px;
    width: 100%;
    padding: 1rem;
    box-shadow: rgb(0 0 0 / 25%) 0px 2px 5px 2px;
}

.outgoing-chats-msg {
    float: right;
    width: 46%;

}

.multi-msg {
    margin-top: 4px;
}


@media only screen and (max-device-width: 850px) {

    *,
    .time {
        font-size: 28px;
    }

    img {
        width: 65px;
    }

    .msg-header {
        height: 5%;
    }

    .msg-page {
        max-height: none;
    }

    .received-msg-inbox p {
        font-size: 28px;
    }

    .outgoing-chats-msg p {
        font-size: 28px;
    }
}

@media only screen and (max-device-width: 450px) {

    *,
    .time {
        font-size: 28px;
    }

    img {
        width: 65px;
    }

    .msg-header {
        height: 5%;
    }

    .msg-page {
        max-height: none;
    }

    .received-msg-inbox p {
        font-size: 28px;
    }

    .outgoing-chats-msg p {
        font-size: 28px;
    }
}



.nav-option {
    width: 250px;
    height: 60px;
    display: flex;
    align-items: center;
    padding: 0 30px 0 20px;
    gap: 20px;
    transition: all 0.1s ease-in-out;
}