.project-container{
    /* border: 2px black solid; */
    border-radius: 20px;
    width: 50%;
    height: auto;
    background-color: white;
}

.main{
    display: flex;
    justify-content: center;
    align-items: center;
}

.project-header {
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px 10px 20px;
    border-radius: 20px 20px 0 0;
    color: white;
    background-color: #00303f;
}

.recent-Articles {
    font-size: 30px;
    font-weight: 600;
    color: white;
    width: 100%;
    text-align: center;
}

.field{
    /* border: 1px black solid; */
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px 0px;
}

#title,#manager,#deadline,#description,#employee{
    width: 80%;
    height: 40px;
    margin-top: 10px;
    border: 2px var(--background-color1) solid;
    border-radius: 20px;
    padding: 0px 10px;
}

.field label{
    color: var(--background-color1);
    padding-left: 60px;
    display: inline-block;
    width: 100%;
}

#submit{
    height: 40px;
    width: 40%;
    color: white;
    background-color: var(--background-color1);
    font-size: 17px;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    transition: all 0.4s;
    margin: 10px 0px;
}

#submit:hover{
    transform: scale(1.1);
    cursor: pointer;
}

@media screen and (min-width:750px) and (max-width:1000px){
    
    .project-container
    {
        width: 70%;
    }
}

@media screen and (min-width:550px) and (max-width:750px){
    
    .project-container
    {
        width: 90%;
    }
}

@media screen and (max-width:550px){
    
    .project-container
    {
        width: 100%;
    }

    .recent-Articles
    {
        font-size: 27px;
    }

    .field label
    {
        padding-left: 45px;
    }
}