@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
    /* display: grid; */
    /* place-items: center; */
}

header {
    /* background-color: #00303f; */
    color: #00303f;
    padding: 15px 30px;
    position: fixed;
    top: 0;
    z-index: -1;
    /* box-shadow: 20px 0px 50px rgb(65, 109, 109); */
}

header::before {
    background: url('../img/login-background.jpg') no-repeat center center/cover;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

.wrapper{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color:white; */
}

.login-container{
    background-color:#c2dde6;
    border-radius: 20px;
    width: 450px;
    height: auto;
    /* box-shadow: 0px 15px 20px rgba(0,0,0,0.1); */
    /* padding-bottom: 15px; */
    /* border: 3px black solid; */
    box-shadow: 15px 15px 20px #565d66;
}

.login-container .heading{
    /* border: 1px black solid; */
    font-size: 40px;
    font-weight: 800;
    text-align: center;
    line-height: 100px;
    color:white;
    border-radius: 15px 15px 0 0 ;
    background: linear-gradient(-135deg, #00303f, #00303f);
    /* background-color: #431c5d; */
}

.login-container form{
    padding: 10px 30px 10px 30px;
}

.login-container form .field{
    /* border: 2px darkblue solid; */
    height: auto;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

input{
    padding: 0 20px;
    width: 100%;
    height: 40px;
    border-radius: 25px;
    margin-top: 10px;
    border: none;
}

.forgot a{
    padding-top: 5px;
    font-size: 14px;
    color: rgb(37, 37, 245);
    display: flex;
    flex-direction: row-reverse;
}

.register{
    display: flex;
    margin-top: 25px;
    font-size: 14px;
}

.register a{
    color: rgb(37, 37, 245);
    margin-left: 3px;
    /* text-decoration: none; */
}

.register a:hover,.forgot a:hover{
    font-size: 15px;
    color: #00303f;
    cursor: pointer;
}

form .field input[type="submit"]{
    position: relative;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 17px;
    font-weight: 500;
    background: linear-gradient(-135deg, #00303f, #00303f);
    transition: all 0.5s;
}

form .field input[type="submit"]:hover{
    transform: scale(1.07);
    background: linear-gradient(-135deg, #00303f, #00303f);
}

div.field#submit-button{
    margin-top: 0;
    margin-bottom: 15px;
}