*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root {
    --primary: #00303f;
}

html,
body {
    height: 100%;
    width: 100%;
    /* display: grid; */
    /* place-items: center; */
}

header {
    /* background-color: #00303f; */
    color: var(--primary);
    padding: 15px 30px;
    position: fixed;
    top: 0;
    z-index: -1;
    /* box-shadow: 20px 0px 50px rgb(65, 109, 109); */
}

header::before {
    background: url('../img/login-background.jpg') no-repeat center center/cover;
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.5;
}

.heading{
    background-color: var(--primary);
    color: white;
    height: 20%;
    line-height: 60px;
    width: 100%;
    text-align: center;
    border-radius: 15px 15px 0px 0px;
}

.wrapper{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    /* border: 1px solid black; */
    background-color: #c2dde6;
    /* padding: 20px; */
    height: 40vh;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-around; */
    box-shadow: 10px 10px 10px #565d66;
    border-radius: 15px;
}

.content{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.login-button{
    background-color: var(--primary);
    color: white;
    width: 80%;
    height: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 40px;
    border-radius: 20px;
}