{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, 
				initial-scale=1.0">
	<title>chat</title>
	<link rel="stylesheet" href="{%static 'css/chat_main.css' %}">
	<link rel="stylesheet" href="{%static 'css/chat_res.css' %}">
</head>

<body>

	<!-- for header part -->


		{% include '../header_page.html' %}


	<div class="main-container">
			{% include './manager_navbar.html' %}

		
		<!-- <div class="main">

		<!-- msg-header section ends -->

		<!-- Chat inbox  -->
		<div class="chat-page">
			<div class="msg-inbox">
				<div class="msg-header">
					<div class="container1">

						<div class="active">
							<p>{{project.projectTitle }}</p>

						</div>
					</div>
				</div>
				<div class="chats">
					<!-- Message container -->
					<div class="msg-page">
						{% for message in messages %}
							{% if user.email == message.senderEmail %}
								<div class="outgoing-chats">
									<div class="outgoing-msg">
										<div class="outgoing-chats-msg">
											<p>
												{{message.text}}
											</p>

											<span class="time">{{message.senderName}}</span>
										</div>
									</div>
								</div>
							{% else %}
								<div class="received-chats">
									<div class="received-msg">
										<div class="received-msg-inbox">
											<p class="single-msg">
												{{message.text}}
											</p>
											<span class="time">{{message.senderName}}</span>
										</div>
									</div>
								</div>
							{% endif %}
						{% endfor %}
					</div>
				</div>

				<!-- msg-bottom section -->


				<form action="" method="post" class="input-group">
					{% csrf_token %}
					<input type="text" class="form-control" placeholder="Write message..." id="title" name="Text" required>
					<button type="submit" class="input-group-text send-icon" id="submit"><img src="https://static.thenounproject.com/png/809336-200.png" class="nav-img" alt="Send"></button>
				</form>

				{% comment %} <div class="input-group">
					<input type="form" class="form-control" placeholder="Write message...">

					<button class="input-group-text send-icon">
						<button="bi bi-send"=""><img src="https://static.thenounproject.com/png/809336-200.png" class="nav-img" alt="dashboard"></button>
					</button>
					
				</div> {% endcomment %}
			</div>
		</div>

	</div>
	</div>

	<script src="{%static 'js/chat.js' %}"></script>
</body>

</html>