{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Sent</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/ css?family=Poppins:400,500,600,700&display=swap" />
    <link rel="stylesheet" href="{% static 'css/forgot_password_sent.css' %}">
</head>

<body>
    <header>
        <h1>ProPlanning</h1>
    </header>

    <div class="wrapper">
        <div class="container">
            <div class="top">
                <i class="fa-solid fa-envelope fa-bounce fa-2xl"></i>
                <h1>Email Sent</h1>
                <p>Please check the email address associated with website for instructions to reset your password.</p>
            </div>

            <div class="bottom">
                <p>Didn't reveice an Email?</p> 
                <a href="{% url 'reset_password' %}">Resend Mail</a>
            </div>
        </div>
    </div>

</body>

</html>