{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login to ProPlanning</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/login_form.css'%}">
</head>


<body>
    
    <header>
        <h1>ProPlanning</h1>
    </header>
    {% comment %} {% if messages %}
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>{{message}}</strong>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endif %} {% endcomment %}
    
    <div class="wrapper">
        <div class="login-container">
            <div class="heading">
                Login
            </div>
            
            <form action="#" method="post">
                {% csrf_token %}

                <div class="field">
                    <label for="email"> Email Address : </label>
                    <input type="email" name="email" id="email" placeholder="Enter your Email Address" required>
                </div>
                
                <div class="field">
                    <label for="pswd">Password : </label>
                    <input type="password" name="password" id="pswd" placeholder="Enter Your Password">
                </div>

                <div class="forgot">
                    <a class="link" href="{% url 'reset_password' %}">Forgot Password?</a>
                </div>
                
                <div class="register">
                    <p>Not Registered ?</p>
                    <a class="link" href="{% url 'register' %}">Register Now</a>
                </div>

                <div class="field" id="submit-button">
                    <input class="button-hover" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>