{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" />
    <title>Change Password</title>
    <link rel="stylesheet" href="{% static 'css/password_change.css'%}">
</head>

<body>
    <header>
        <h1>ProPlanning</h1>
    </header>

    <div class="wrapper">
        <div class="container">
            <div class="heading">
                Change Password
            </div>
            
            <form action="#" method="post">
                {% csrf_token %}
                <div class="field">
                    <label for="{{ form.old_password.id_for_label }}"> Old Password : </label>
                    {{ form.old_password }}
                </div>

                <div class="field">
                    <label for="{{ form.new_password1.id_for_label }}"> New Password : </label>
                    {{ form.new_password1 }}
                </div>
                
                <div class="field">
                    <label for="{{ form.new_password2.id_for_label }}" >Confirm New Password : </label>
                    {{ form.new_password2 }}
                </div>

                <div class="field" id="submit-button">
                    <input class="button-hover" id="submit" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
</body>
</html>