{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register to ProPlanning</title>
    <!-- <link rel="stylesheet" href="css/register_template.css" /> -->
    <link rel="stylesheet" href="{% static 'css/register_template.css' %}" />
</head>

<body>
    <header>
        <p>ProPlanning</p>
    </header>

    <div class="wrapper">
        <div class="register-container">
            <div class="heading">Register as</div>

            <div class="user-container">
                <!-- <a href="register_as_admin.html"> -->
                <a href="{% url 'reg_owner' %}">
                    <div class="user" id="admin">
                        <h1>Admin</h1>
                    </div>
                </a>

                <!-- <a href="register_as_manager.html"> -->
                <a href="{% url 'reg_manager' %}">
                    <div class="user" id="Projectmanager">
                        <h1>Project manager</h1>
                    </div>
                </a>

                <!-- <a href="register_as_employee.html"> -->
                <a href="{% url 'reg_employee' %}">
                    <div class="user" id="Employee">
                        <h1>Employee</h1>
                    </div>
                </a>

            </div>
        </div>
    </div>
    
</body>
</html>